 .recent_content {
     height: 44rem;
 }

 .heading {
     text-align: left;
     margin: 2rem 0;
 }

 .layout {
     display: flex;
 }

 .layout>.card {
     width: 60rem;
     margin: 0 3rem 0 0;
 }

 .layout .sidecard {
     display: flex;
     flex-direction: column;
 }

 .layout .test:nth-child(2) {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


 @media screen and (max-width: 320px) {
     .recent_content {
         margin: 0 1rem;
     }

     .layout {
         flex-direction: column;
     }

     .heading {
         text-align: left;
         margin: 2rem 0;
         font-size: 30px;
         font-weight: 600;
     }

     .layout>.card {
         width: 50rem;
         margin-bottom: 3rem;
     }

     .layout .sidecard {
         width: 50rem;
         flex-direction: column;
     }

     .layout .test:nth-child(2) {
         margin-top: 3rem;
         margin-bottom: 3rem;
     }
 }

 /* For medium devices */
@media screen and (max-width: 576px) {
    .recent_content {
        margin: 0 1rem;
    }

    .layout {
        flex-direction: column;
    }

    .heading {
        text-align: left;
        margin: 2rem 0;
        font-size: 30px;
        font-weight: 600;
        max-width: 100%;
    }

    .layout>.card {
        width: 50rem;
        margin-bottom: 3rem;
    }

    .layout .sidecard {
        width: 50rem;
        flex-direction: column;
    }

    .layout .test:nth-child(2) {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
  }
  
  @media screen and (min-width: 776px) {
    .recent_content {
        height: 44rem;
    }
   
    .heading {
        text-align: left;
        margin: 2rem 0;
    }
   
    .layout {
        display: flex;
    }
   
    .layout>.card {
        width: 60rem;
        margin: 0 3rem 0 0;
    }
   
    .layout .sidecard {
        display: flex;
        flex-direction: column;
    }
   
    .layout .test:nth-child(2) {
       margin-top: 3rem;
       margin-bottom: 3rem;
   }
  }
  
  /* For large devices */
  @media screen and (min-width: 992px) {
    .recent_content {
        height: 44rem;
    }
   
    .heading {
        text-align: left;
        margin: 2rem 0;
    }
   
    .layout {
        display: flex;
    }
   
    .layout>.card {
        width: 60rem;
        margin: 0 3rem 0 0;
    }
   
    .layout .sidecard {
        display: flex;
        flex-direction: column;
    }
   
    .layout .test:nth-child(2) {
       margin-top: 3rem;
       margin-bottom: 3rem;
   }
  }